<div class="container">
    <div class="header-container">
        <a class="home-icon-container" routerLink="">
            <img src="assets/icons/home.svg" />
        </a>
        <app-navigation-header></app-navigation-header>
    </div>
    <div class="title-container">
        <h1 class="title">Styles: Customizable component</h1>
    </div>
    <div class="body-container">
        <div class="component-container">
            <div class="custom-component">
                <p class="custom-text">Play with the style of this component and text!</p>
            </div>
        </div>
        <div class="content-container">
            <div class="styles-container">
                <div class="style-subsection">
                    <p class="styles-subsection-title">Basics:</p>
                    <div class="styles-subsection-buttons">
                        <button>
                            <p>width</p>
                        </button>
                        <button>
                            <p>radius</p>
                        </button>
                        <button>
                            <p>some property</p>
                        </button>
                    </div>
                </div>
                <div class="style-subsection">
                    <p class="styles-subsection-title">Border:</p>
                    <div class="styles-subsection-buttons">
                        <button>
                            <p>width</p>
                        </button>
                        <button>
                            <p>radius</p>
                        </button>
                    </div>
                </div>
                <div class="style-subsection">
                    <p class="styles-subsection-title">Shadows:</p>
                    <div class="styles-subsection-buttons">
                        <button>
                            <p>width</p>
                        </button>
                        <button>
                            <p>radius</p>
                        </button>
                    </div>
                </div>
            </div>
            <div class="code-container">
                <p>Here we should see code</p>
            </div>
        </div>
    </div>
</div>