<div class="header-container">
    <div class="header-item">
        <img src="assets/icons/box.svg">
    </div>
    <a 
        class="header-item"
        routerLink="/styles"
    >
        <img src="assets/icons/pen.svg">
    </a>
    <a 
        class="header-item"
        routerLink="/functions"
    >
        <img src="assets/icons/terminal.svg">
    </a>
    <div class="header-item">
        <img src="assets/icons/api.svg">
    </div>
    <div class="header-item">
        <img src="assets/icons/share.svg">
    </div>
    <div class="header-item">
        <img src="assets/icons/book.svg">
    </div>
    <div class="header-item">
        <img src="assets/icons/tool.svg">
    </div>
    <div class="header-item">
        <img src="assets/icons/pie.svg">
    </div>
</div>
