<div class="container">
    <div class="navigation-container">
        <div class="navigation-title">
            <p>Full Stack Toolkit</p>
        </div>
        <div class="navigation-item">
            <img src="assets/icons/box.svg">
            <p>Components</p>
        </div>
        <div class="navigation-item">
            <img src="assets/icons/pen.svg">
            <p>Styles</p>
        </div>
        <div class="navigation-item">
            <img src="assets/icons/terminal.svg">
            <p>Functions</p>
        </div>
        <div class="navigation-item">
            <img src="assets/icons/api.svg">
            <p>API calls</p>
        </div>
        <div class="navigation-item">
            <img src="assets/icons/share.svg">
            <p>Technologies</p>
        </div>
        <div class="navigation-item">
            <img src="assets/icons/book.svg">
            <p>Frameworks</p>
        </div>
        <div class="navigation-item">
            <img src="assets/icons/tool.svg">
            <p>Setup/debug</p>
        </div>
        <div class="navigation-item">
            <img src="assets/icons/pie.svg">
            <p>Progress</p>
        </div>
    </div>
    <div class="content-container">
        <div class="header-container">
            <div class="header-item">
                <img src="assets/icons/box.svg">
            </div>
            <div class="header-item">
                <img src="assets/icons/pen.svg">
            </div>
            <div class="header-item">
                <img src="assets/icons/terminal.svg">
            </div>
            <div class="header-item">
                <img src="assets/icons/api.svg">
            </div>
            <div class="header-item">
                <img src="assets/icons/share.svg">
            </div>
            <div class="header-item">
                <img src="assets/icons/book.svg">
            </div>
            <div class="header-item">
                <img src="assets/icons/tool.svg">
            </div>
            <div class="header-item">
                <img src="assets/icons/pie.svg">
            </div>
        </div>
        <div class="text-container">
            <h1>My Full Stack Toolkit</h1>
            <p>Here I document components, styles, functions, and more that 
                I learned, in order to reuse them for Full Stack projects</p>
        </div>
        <div class="arrow-container">
            <img src="assets/icons/arrow_nav.svg">
        </div>
    </div>
</div>